INFURA_API_KEY=zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
MNEMONIC=here is where your twelve words mnemonic should be put my friend
BSCSCAN_API_KEY=
ENV= <prod or ""> 
NEXT_APP_TOKEN_SYMBOL=
NEXT_APP_TOKEN_NAME=
NEXT_APP_TOKEN_DECIMALS=
NEXT_APP_DESIRED_CHAIN_ID=